body {
  background-color: rgba(241, 241, 241, 1);
  /* display: flex;
  flex-direction: column; */
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12px 80px;
}

.logoDiv {
  display: flex;
  /* height: 22px; */
  gap: 15px;
  align-items: center;
}

.logo {
  height: 50px;
  width: 46px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.btn {
  border: 0px;
  border-radius: 100px;
  padding: 10px 12px;
}

.selected {
  background-color: rgba(8, 30, 52, 0.12);
}

/* _______________________________ */

.first {
  /* height: 620px; */
  padding: 100px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px 30px;
}

.first-img {
  width: 1200px;
  height: 850px;
  border-radius: 52px;
  margin: 1.25rem;
}

.first-div {
  display: flex;
  align-items: center;
}
/* _______________________________ */
.second {
  height: 1000px;
  border-radius: 32px;
  background-color: rgba(225, 222, 231, 1);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}

.second-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  text-align: start;
}

.second-title {
  margin: 6.25rem;
}

.images {
  width: 80px;
  margin: 1.2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 48px;
  width: 400px;
  height: 186px;
}

/* _______________________________ */
.third {
  padding: 100px 150px;
}
.third-1-content {
  display: flex;
  margin: 2.5rem 0;
}

.third-1-1 {
  width: 1700px;
}

/* _______________________________
 */

.third-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* _______________________________
 */

footer {
  display: flex;
  flex-direction: column;
}

.footer {
  display: grid;
  grid-template-columns: 5fr 7fr;
  background-color: rgba(255, 255, 255, 1);
  height: 250px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  text-align: center;
  
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 3rem 10rem;
}

.footer-text {
  
}

.btn-f {
  border: 0px;
  background-color: rgba(255, 255, 255, 1);
}

.btn-f-text {
  font-size: 28px;
  font-weight: 500;
}
.madeby {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.libre-baskerville-bold {
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  font-size: 18px;
}

.kanit-thin {
  font-family: 'Kanit', serif;
  font-weight: 500;
}

.inter {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  margin: 0.25rem 0.9rem;
}
